<div class="container" main-dir="">
        <p><br/></p>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="login">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                                    <li><a href="#create" data-toggle="tab">Create Account</a></li>
                            </ul>
                            <div class="page-header">
                                <h3>Login Form</h3>
                            </div>
                            <form name="userLoginForm" novalidate>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="userEmail" placeholder="Email" required>
                                </div>
                              <div class="form-group"><br/>
                                <label for="exampleInputPassword1">Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star"></span></span>
                                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="userPassword" placeholder="Password" ng-minlength="6" required>
                                    <div class="error-container" ng-show="userLoginForm.userEmail.$invalid && userLoginForm.userEmail.$dirty">    
                                        <small class="error" ng-show="userLoginForm.userEmail.$error.minlength">Your password is required to be at least 6 characters</small>
                                    </div>

                                </div>    
                                <br/><hr/>
                                <button type="button" class="btn btn-primary btn-login pull-right" ng-disabled="userLoginForm.$invalid" ng-click="userValidate()"><span class="glyphicon glyphicon-lock"></span> Login</button>
                              <br/>
                              </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- registration form starts here -->
            <div class="tab-pane fade" id="create">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li><a href="#login" data-toggle="tab">Login</a></li>
                                <li class="active"><a href="#create" data-toggle="tab">Create Account</a></li>
                            </ul>
                            <div class="page-header">
                                <h3>Registration Form</h3>
                            </div>
                            <form name="userSignUpForm" novalidate>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" ng-model="userFName" ng-minlength="5" ng-maxlength="25" placeholder="First Name" tabindex="1" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" ng-model="userLName"  ng-maxlength="15" placeholder="Last Name" tabindex="2" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="display_name" id="display_name" class="form-control input-lg" ng-model="userDisplayName" ng-minlength="5" ng-maxlength="25" placeholder="Display Name" tabindex="3" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-lg" ng-model="userEmail" placeholder="Email Address" tabindex="4" required>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control input-lg" ng-model="password" ng-minlength="6" ng-maxlength="15" placeholder="Password" tabindex="5" required>
                                        </div>
                                    </div>
                                     <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" ng-model="rePassword" ng-minlength="6" ng-maxlength="15" placeholder="Confirm Password" tabindex="6" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="license_num" id="license_num" class="form-control input-lg" ng-model="userLicense" ng-minlength="10" ng-maxlength="10" placeholder="License Number" tabindex="7" required>
                                </div>
                                <hr/>
                                <button type="button" class="btn btn-success" ng-click="signUp()" ng-disabled="userSignUpForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Register</button>
                                <br/>
                            </form>
                        </div>    
                    </div> 
                </div>
            </div>
        </div>
    </div>    
