<div class="container">
	<div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Reference#:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{uniqueNumber1}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Vehicle:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{vehicleNum}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Make:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{vehicleMake}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Model:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{vehicleModel}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>From:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{from}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>To:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{to}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Duration:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{Duration}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <Label><small>Cost:</small></Label>
        </div>
        <div class="col-md-3 col-sm-3">
            {{Cost| currency}}
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 col-sm-3 center-block">
            <button type="button" ng-click="confirmSlot()">Ok</button>
        </div>
    </div>
