/* side bar css*/
.Row {
   height: 100%;
   position:absolute;
   margin-left:0;
   margin-right:0;
}
.container{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.liText{
  padding-right: 2px;
}
.column:before, .column:after {
    content: "";
    display: table;
}
.column:after {
    clear: both;
}
.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}
/*.column .padding {
    padding: 20px; /* change*/
/*}*/
.nav a{
  padding-left: 15px;
}
#sidebar {
  padding:0px;
  /*padding-top:15px;  /* change*/
}

#sidebar, #sidebar a {
    color:#ffffff;
    text-shadow:0 0 2px #000000;
    /*padding-left:5px;*/
}
/*#sidebar a{
  padding-left: 15px; /* change*/
/*}*/
#sidebar .nav li>a:hover {
    background-color:#393939;
}

/*@media (min-width: 220px) and (max-width: 685px) {
  .main-content{
    padding-left: 50px;
  }
}*/
/* sidebar css ends here*/
.navbar{
  margin-bottom: 0px;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 25px 0 10px 0;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}
.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
.base-circle{

     width:40%;
     height:40%;
     border: 1px solid #323232;
     padding: 5px;
     background: #fff;
     box-shadow: 0.18em 0.18em 0.31em rgba(50, 50, 50, .5);  /*adds shadow for border*/
}