.slot-available,.slot-unavailable,.slot-clicked{
	width: 30px;
	height: 17px;
}
.slot-available{
	background-color:green;
	background: url(../images/car_green.jpg) no-repeat;
}

.slot-unavailable{
	background-color: red;
	background: url(../images/car_red.jpg) no-repeat;
}

.slot-clicked{
	background:url(..url/images/car_highlight.jpg) no-repeat;
}
.row{
	padding-bottom:3px;
}
.center-block{
	float:none;
}
.dateTime{
	padding-left: 0px;
	padding-right: 0px;
}
/*
ng-src="{{ && 'images/car_green.jpg' ||'images/car_red.jpg'}}"
*/